div {
  text-align: center;
  font-size: 25px;
  border: 2px solid black;
  margin-bottom: 10px;
}

.satu {
  background-color: yellow;
  height: 80px;
  position: absolute;
  width: 20%;
}

.dua {
  background-color: tomato;
  height: 80px;
  width: 75%;
  margin-left: auto;
}

.tiga {
  background-color: green;
  width: 20%;
  position: absolute;
  height: 400px;
}

.empat {
  background-color: gainsboro;
  width: 50%;
  position: absolute;
  height: 400px;
  left: 25%;
}

.lima {
  background-color: aqua;
  width: 20%;
  height: 400px;
  margin-left: auto;
}

.enam {
  background-color: blue;
}
